@charset "UTF-8";

*{ margin: 0; padding: 0; border: 0; font-size: 100%; }

.body{
	font-family: 
	
}
.navbar .nav-link{
	color:#000000 !important;
}

.nav-link :active{
	font-weight: 800;
	color: #B70407 !important;
}

.nav-link :hover{
	font-weight: 800;
	color: #B70407 !important;
}

.myheader{ 

	background-image: url("");
	height: 200px; 
	background-size: cover;
}

.container{
	width: 1920px;
	Height: 540px;
	
}

.jumbotroncolor1 {
	background-color: #FFFFFF;
	
}

.cleanup {
	margin-top: -32px;
}

.container2{
	width: 1920px;
	Height: 540px;
	padding-left: 70px;
}

.footer{
	display:block;
	color: #FFFFFF;
}
