@charset "utf-8";
/* CSS Document */

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.product1{
	background: #EBEAEA;
	padding: 100px 200px;
}

h6{
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 800;
	font-size: 35pt;
	font-style: normal;
}

.title1{
	padding-bottom: 30px;
}


h7{
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 550;
	font-size: 30pt;
	font-style: normal;
}

p3{
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15pt;
}


label{
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 800;
	font-style: normal;
	font-size: 13pt;
	padding-top: 20px
}

.shakepr{
	padding-right: 40px;
}

.buybtn{
	padding-top: 40px;
	padding-right: 100px;
}


.product2{
	background-color: #E3E3E3;
	padding: 100px 200px;
}

.prod{
	padding-bottom: 30px;
	text-align: right;
}

h8{
	font-family: bodoni-urw, serif;
	font-weight: 800;
	font-size: 35pt;
	font-style: normal;
}

h9{
	text-align: right;
	font-family: bodoni-urw, serif;
	font-weight: 600;
	font-size: 25pt;
	font-style: normal;
	padding-bottom: 20px;
	padding-top: 20px;
}

.nutri2{
	text-align: right;
}

p4{
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15pt;
}

a{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #B22600;
  background-color: transparent;
  text-decoration: none;
}

.shop{
	background: #EBEAEA;
	padding: 0px 180px 100px;
}

.shake1{
	padding: 100px 50px 30px 
}

.name1{
	text-align: center;
	font-family: bodoni-urw, serif;
	font-weight: 800;
	font-size: 17pt;
	font-style: normal;
}

.price1{
	text-align: center;
	font-family: bodoni-urw, serif;
	font-weight: 500;
	font-size: 20pt;
	font-style: normal;
}

.about1{
	text-align: right;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16pt;
	padding: 10px 10px 10px 110px
}

.about2{
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16pt;
	padding: 10px 110px 10px 10px
}

.pic1{
	text-align: center;
	padding: 5px
}

.pic{
	text-align: center;
}

p2{
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-size: 14pt;
	font-style: normal;
}

p1{
	color: #B22600;
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-size: 14pt;
	font-style: normal;
}
h4{
	text-align: right;
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-size: 40pt;
	font-style: normal;
}

h5{
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-size: 40pt;
	font-style: normal;
}

.container4{
	background: #EBEAEA;
	padding-top: 50px;
	padding-bottom: 50px;
}

.butt2{
	padding-bottom: 10px;
}


.container3{
	background-color: #E3E3E3;
	padding-bottom: 50px;
	padding-top: 50px;
}

h1{
	text-align: center;
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-size: 40pt;
	font-style: normal;
}

.paragraf1{
	text-align: center;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18pt;
}

h2{
	text-align: center;
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-size: 40pt;
	font-style: normal;
	color: #B22600;
}

h3{
text-align: center;
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-size: 30pt;
	font-style: normal;
	color: #B22600;
	
	
}

.container1{
	background: #EBEAEA;
	padding-top: 100px;
	padding-bottom: 100px;
}

.line{
	padding: 10px;
}

.butt{
	padding-top: 20px;
}

.paragraf2{
	text-align: right;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-size: 15pt;
	font-style: normal;
}

.paragraf3{
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-size: 15pt;
	font-style: normal;
}

.container2{
	background-color: #E3E3E3;
	padding: 100px;

}

.shake{
	padding-bottom: 20px;
}

.containerfooter{
	background-color: #D8D8D8;
	padding: 10px;
}

.copyright{
	padding-top: 10px;
	padding-left: 20px;
	text-align: left;
	font-family: bodoni-urw, serif;
	font-weight: 400;
	font-size: 12pt;
	font-style: normal;
}

.socials{ 
align-content:space-around;
}

.footer{
	align-items: center;
	justify-content: space-between;
}

.icons{
	align-items: center;
	justify-content: flex-start;
	
}

.instagram{
	align-self: center;	
	
}


.myfooter{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
	
} 

.zaza{
	display: flex;
	flex-direction: row;
}

.myicons {
	height:70px;
	display: flex;
	justify-content: flex-start;
}

.carousel {
	height: 500px;
	width: 300px;
	margin-left: 130px;
}

.mycolors {
    padding-left: 100px;
}

.taskflow {
	height: 325px;
	adding-left: 100px;
}